.cta-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.cta-button__more-info{
  @include button--inactive;
  font-size: 1rem;
  padding: $oneone;
  margin: $oneone;
  min-width: 15vw;
}
.cta-button__near-you{
  @include button--active;
  font-size: 1rem;
  padding: $oneone;
  margin: $oneone;
  min-width: 15vw;
}

.cta-button__call-us{
  @include button--active;
  font-size: 1rem;
  padding: $oneone;
  margin: $oneone;
  min-width: 15vw;
}
