.care-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 2vh 0;
}

.care-list__option{
  background-color: $white;
  border: 1px solid $paleblue;
  border-radius: 3px;
  color: $paleblue;
  font-family: $sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;

  padding: 2vh 1vw 2vh 3vw;
  margin: .5vh 0;
  min-width: 350px;
  width: 90%;

  @media screen and (min-width: 700px){
    font-size: 1.3rem;
  }
  @include button--inactive--hover;
  &:hover{
    border: 1px solid $dkblue;
  }
}
