
.modal__close-button{
  &:hover{
    cursor: pointer;
  }
}

.modal__title{
  color: $dkblue;
  font-family: $serif;
  text-align: center;
}

.modal__care-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: $sans-serif;
}

.care-info__title{
  color: $navy;
}

.care-info__img{
  height: 50%;
  width: 50%;
}
