.nav{
  border-top: 2px solid $navy;
  color: $navy;

  @include center-flex;
  @include page;
  margin: 0;
  padding: 0;
  width: inherit;

  @media screen and (min-width: 900px){
    flex-direction: row;
    align-items: flex-start;
    min-height: 0;
    width: 100%;
  }
  li{
    list-style-type: none;
  }
}

.nav__button{
  background-color: $half-blue;
  border-radius: $brdr-rds;
  &:not(:first-of-type){
    border-left: 1px solid $dkblue;
  }
  &:not(:last-of-type){
    border-right: 1px solid $dkblue;
  }
  box-shadow: $shadow;
  color: $dkblue;
  font-size: 1.5rem;
  text-align: center;

  @include center-flex;

  height: 25vh;
  padding: $twotwo;
  margin:0;
  width: 80vw;

  @media screen and (min-width: 700px){
    font-size: 2rem;

    padding: 2vh 3vw;
    width: 70vw;
  }

  @media screen and (min-width: 900px){
    border-bottom: 2px solid $dkblue;
    border-radius: 0px;
    box-shadow: none;
    font-size: 1.5rem;

    margin-bottom: 0;
    height: 15vh;
    width: 80%;
  }

  @include button--inactive--hover;
}

.nav__button--selected{
  background-color: $white;
  border-bottom: none;
  color: $dkblue;
}
