.onboarding{
  @include page;
  @include center-flex;
  text-align: center;
}

.onboarding__title{
  @include page-title;
}

.onboarding__fieldset{
  border: none;
}

.onboarding__label{
  font-family: $serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 .5% 0;
  width: 72%;
  @media screen and (min-width: 700px){
    width: 62%;
    min-width: 325px;
  }
}

.onboarding__input{
  border: 1px solid $dkblue;
  border-radius: $brdr-rds;
  box-shadow: $shadow;

  margin-bottom: 3vh;
  height: 2.3rem;
  width: 70%;
  @media screen and (min-width: 700px){
    height: 3.5rem;
    min-height: 40px;
    width: 60%;
    min-width: 325px;
  }
  &[type="text"]{
    color: $dkblue;
    font-size: 1.2rem;
    padding-left: 2vw;
  }
  &[type="email"]{
    color: $dkblue;
    font-size: 1.2rem;
    padding-left: 2vw;
  }
}

.onboarding__looking-for{
  border: 1px solid $navy;
  border-radius: $brdr-rds;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 3rem;
  width: 50vw;
  margin: 0 1vw 3vh 1vw;
}

.onboarding__radio{
  flex: 1;
  @include center-flex;
	height: 5vh;
	text-align: center;
  padding: $oneone;
  margin: 0;

  input[type='radio']{
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }
  input[type='radio']:active ~ label{
    opacity: 1;
  }
  input[type="radio"]:checked ~ label{
    background-color: $navy;
    color: $white;
  }
  input[type="radio"]:hover ~ label{
    background-color: $navy;
    color: $white;
    cursor: pointer;
  }
  label{
    padding: 2.25vh 1vw;
    height: 100%;
    width: 100%;
  }
}

.onboarding__options{
  border: 1px solid $dkblue;
  border-radius: $brdr-rds;

  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 3vh;
  height: 2.3rem;
  width: 72%;
  @media screen and (min-width: 700px){
    height: 3.5rem;
    width: 62%;
    min-width: 325px;
  }


}

.onboarding__option--selected{

}

.onboarding__button{
  @include button--active;
  font-size: 1.2rem;
  &[value]{
    text-transform: uppercase;
  }
  height: 10vh;
  padding: 1vh 1vw;
  width: 50vw;
  @media screen and (min-width: 700px){
    font-size: 2rem;
    height: 8vh;
  }
  @media screen and (min-width: 900px){
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 500;
    height: 8vh;
    min-height: 45px;
    width: 35vw;
    min-width: 245px;
  }
}

.onboarding__skip{
  font-size: .8rem;
  font-weight: 500;
  text-align: right;

  margin: 0;
  padding: 1%;
  width: 50vw;
  @media screen and (min-width: 700px){
    font-size: 1rem;
  }
  @media screen and (min-width: 900px){
    align-self: flex-end;
    width: 35vw;
  }
}
