---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Bitter');

$black: #314f62;
$blue: #206ce4;
$red: #fc4b3e;
$pink: #fd8f78;
$tan: #feeddf;

body{
  background-color: $tan;
  color: $black;
}

a{
    color: inherit;
    &:hover{
      color: $blue;
      cursor: pointer;
      font-weight: inherit;
      text-decoration: underline;
      text-decoration-style: swavy;
    }
  }

h1{
  color: $red;
  font-family: 'Bitter', 'serif';
  font-size: 1.75rem;
}

h2{
  color: $pink;
  font-family: 'Bitter', 'serif';
}
