---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Bitter');

$red: #fc4b3e;
$tan: #feeddf;

body{
  background-color: $tan;
}

h1{
  color: $red;
  font-family: 'Bitter', 'serif';
  font-size: 1.25rem;
}