---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');

$black: #314f62;
$blue: #206ce4;
$red: #fc4b3e;
$pink: #fd8f78;
$tan: #feeddf;

body{
  background-color: $tan;
  color: $black;
  font-family: 'Open Sans', sans-serif;
}

a{
  color: inherit;
  &:hover{
    color: $blue;
    cursor: pointer;
    font-weight: inherit;
    text-decoration: underline;

    }
  }

h1{
  color: $red;
  font-family: 'Bitter', serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: normal;
  @media screen and (min-width: 600px){
    font-size: 3rem;
  }
}

h2{
  color: $pink;
  font-family: 'Bitter', 'serif';
}
