/* ======================================
 HOME | BASE STYLES
========================================= */
.home__double-section{
  //Desktop
  @media screen and (min-width: 500px){
    @include double-section;
  }
}

/* ----------------------------------------
 HOME | HERO IMAGE
 ---------------------------------------- */
.home__hero{
  border-bottom: 2px solid $teal;
  height: 50vh;
  overflow-x: scroll;
  @media screen and (min-width: $hamburgerbreakpoint){
    padding: 0;
  }
}
  .hero__imgs{
    animation: slideHeroImg 25s linear infinite;
    animation-direction: alternate;
    display: flex;
    flex-direction: row;
    height: inherit;
  }
  .hero__img{
    box-shadow: $bottom-box-shadow;
    height: inherit;
    margin: 0 1vw 0 0;
  }
  @keyframes slideHeroImg {
    0%{
    margin-left: 0px;
    }
    100%{
    margin-left: -1000px;
    }
  }
  .hero__button{
    @include cta-button;
    position: absolute;
    z-index: 1;
    left: 5vw;
    top: 55vh;
    text-decoration: none;
  }
  .home__gist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 98%;
      margin: 5vh 0;
      p{
        color: $brown;
        font-family: $serif;
        font-weight: bold;
        width: 80%;
      }
      button{
        @include cta-button;
        @include cta-button--active;
      }

      //Desktop
      @media screen and (min-width: $hamburgerbreakpoint){
        flex-direction: row;

          p{
            font-size: 1.24rem;
            margin: $twotwo;
            width: 60%;
          }
          button{
            height: 8vh;
            width: 20vw;
          }
      }
  }


/* ----------------------------------------
 HOME | UPCOMING EVENTS
 ---------------------------------------- */
.home__upcoming-events{
  @include content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
  .upcoming-events__title{
    @include content-box__title;
  }
  .upcoming-events__carousel{
    margin: 1vh 0;
    width: 100%;
    display: flex;
    .carousel__event{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin-top: 2vh;
      .upcoming-events__img{
        display: none;
        @media screen and (min-width: $hamburgerbreakpoint){
          display: block;
          flex: 1;
          width: 45vw;
          img{

            width: inherit;
            opacity: .9;
            &:hover{
              opacity: 1;
              cursor: pointer;
            }
          }
        }
      }
      .event__description{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        flex: 1;
        height: 100%;
        text-align: center;

        @media screen and (min-width: $hamburgerbreakpoint){
          align-items: flex-start;
          text-align: left;
          width: 45vw;
        }
        h1{
          font-size: 1.5rem;
          span{
            color: $orange;
          }
        }
        h2{
          font-size: 1.1rem;
          margin: 0;
        }
        p{
          font-family: $serif;
          margin: 1vh 0;
        }
        .event-button{
          @include cta-button;
          font-size: .9rem;
          // @include cta-button--active;
          width: 90%;
        }
        .event__facebook{
          margin: 1vh 0;
        }
        .facebook-logo{
          display: inline-block;
          width: 2.5vw;
        }
        .facebook-link{
          color: $fbblue;
          display: inline-block;
          font-weight: bold;
          text-decoration: none;
        }
      }
      @media screen and (min-width: $hamburgerbreakpoint){
        flex-direction: row;
      }
    }
  }




/* ----------------------------------------
 HOME | DONATE
 ---------------------------------------- */

.home__dbox{
  @include cta-button;
  @include cta-button--active;
  width: 25%;
}

/* ----------------------------------------
 HOME | OUR PROMISE
 ---------------------------------------- */
  .home__our-promise{
    width: 100%;
    @include center-flex;
    margin: 5vh 0;

    a button{
      @include cta-button;
      align-self: flex-end;
    }

    //iPad
    @media screen and (min-width: 500px){
      h1{
        text-align: left;
      }
    }
  }
    .our-promise__promises{
      @include center-flex;
      align-items: flex-start;
      article{
        padding: 2vh 1vw;
      }

      //iPad
      @media screen and (min-width: $hamburgerbreakpoint){
        flex-direction: row;
      }
    }
      .promises__promise{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        p{
          font-family: $serif;
          line-height: 1.5rem;
          margin: 0;
          padding: .5vh .5vw;
          text-align: center;
          text-indent: $indent;
          width: 90%;

          @media screen and (min-width: $hamburgerbreakpoint){
            text-align: left;
          }
        }
      }
        .promise__title{
          border-bottom: 1px solid $teal;

          color: $teal;
          font-family: $sans-serif;
          font-size: 1.2rem;
          padding-bottom: 1vh;
          margin: 0;
          text-align: center;
        }

    .our-promise__eligible-button{
      align-self: center;
      margin-top: 3vh;
      @media screen and (min-width: $hamburgerbreakpoint){
        align-self: flex-end;

      }
    }
