@mixin button--active{
  background: -webkit-linear-gradient($ltorange, $dkorange);
  background: -o-linear-gradient($ltorange, $dkorange);
  background: linear-gradient($ltorange, $dkorange);

  border: 1px solid $dkorange;
  border-radius: $brdr-rds;
  box-shadow: $shadow;
  color: $white;
  font-weight: 700;
  text-align: center;
  @media screen and (min-width: 700px){
    font-weight: 600;
  }
  @include button--active--hover;
}

@mixin button--active--hover{
  &:hover{
    background: none;
    background-color: $dkorange;
    border: 1px solid $dkorange;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
    color: $white;
    cursor: pointer;
  }
}

@mixin button--inactive{
  background-color: $white;
  border: 1px solid $gray;
  border-radius: $brdr-rds;
  box-shadow: $shadow;
  color: $dkblue;
  font-weight: 700;
  text-align: center;
  @media screen and (min-width: 700px){
    font-weight: 600;
  }
  @include button--inactive--hover;
}

@mixin button--inactive--hover{
  &:hover{
    background-color: $dkblue;
    border: 1px solid $dkblue;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
    color: $white;
    cursor: pointer;
  }
}

@mixin center-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin page{
  color: $navy;
  min-height: 90vh;
  margin: 0 auto;
  width: 95vw;
  @media screen and (min-width: 700px){
    width: 80vw;
  }
}

@mixin page-title{
  border-bottom: 1px solid $dkblue;
  margin: 2vh 0;
  padding: 2vh 0;
  width: 80vw;

  color: $dkblue;
  font-family: $serif;
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
  @media screen and (min-width: 700px){
    font-size: 2.5rem;
    width: 70vw;
  }
}
