@mixin center-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin checkbox{
  height: 2rem;
}

@mixin checklist{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin content-box{
  background-color: $ltteal;
  border-top: 1px solid $teal;
  border-bottom: 1px solid $teal;
  box-shadow: $bottom-box-shadow;

  margin: 1vh 0;
  width: 100vw;

  @media screen and (min-width: $hamburgerbreakpoint){
    border: 1px solid $teal;
    border-radius: $border-radius;
    padding: $twotwo;
    margin: $oneone;
    width: 98%;

  }
}

@mixin content-box--active{
  background-color: $ltorange;
  border: 1px solid $brown;
}

@mixin content-box__title{
  color: $teal;
  font-family: $sans-serif;
  font-size: 1.5rem;
  padding: 1.5vh 0 0 0;
  margin: 0 0 1vh 0;
  text-align: center;
}

@mixin content-box__subtitle{
  color: $teal;
  font-family: $sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 1vh auto;
  text-align: center;
  width: 80%;
  min-width: 250px;
}

@mixin cta-button{
  background-color: $halfteal;
  border: 1px solid $halfteal;
  border-radius: $border-radius;
  box-shadow: $bottom-box-shadow;
  color: $white;
  font-family: $serif;
  font-size: 1rem;
  padding: $twotwo;
  text-align: center;
  text-decoration: none;
  a{
    text-decoration: none;
    &:hover{
      color: inherit;
      text-decoration: none;
    }
  }
  &:hover{
    background-color: $teal;
    border: 1px solid $teal;
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }
  @media screen and (min-width: $footerbreakpoint){
    font-size: 1.25rem;
  }
}

@mixin cta-button--active{
  background-color: $orange;
  border: 1px solid $orange;
  &:hover{
    background-color: $brown;
    border: 1px solid $brown;
    cursor: pointer;
  }
  a{
    &:hover{
      color: inherit;
      text-decoration: none;
    }
  }
}

@mixin cta-button--inactive{
  background-color: $ltteal;
  border: 1px solid $brown;
}

@mixin double-section{
  section{
    width: auto;
  }
  @media screen and (min-width: $hamburgerbreakpoint){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    section{
      width: 50%;
      height: inherit;
    }
  }
}
