$border-radius: 4px;
$bottom-box-shadow: 0 4px 4px 0 rgba(2, 3, 3, 0.05);
$oneone: 1vh 1vw;
$twotwo: 2vh 2vw;

$headerheight: 100px;
$hamburgerbreakpoint: 700px;
$footerbreakpoint: 1000px;

$ltgray: #eef0f2;
$teal: #406e8d;
$halfteal: #6489a3;
$ltteal: #f7fafd;
$navy: #162C39;
$orange: #B77F51;
$ltorange: #fcf9f7;
$brown: #9B5306;
$white: #ffffff;
$fbblue: #3d599b;
$test: 2px dashed chartreuse;

$indent: 30px;
$sans-serif: 'Source Sans Pro', sans-serif;
$serif: 'Source Serif Pro', serif;

// Breakpoints: 900px
